<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marco.ft_home">


    <application android:allowBackup="true">

        <activity
            android:name=".view.home.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


    </application>

</manifest>
